<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Our shared climate future</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- javascript
  ================================================== -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/raphael.js"></script>
    <script type="text/javascript" src="javascripts/jquery.enumerable.js"></script>


	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="../stylesheets/base.css">
	<link rel="stylesheet" href="../stylesheets/skeleton.css">
	<link rel="stylesheet" href="../stylesheets/layout.css">



	<!-- Favicons 
	================================================== -->
	<link rel="shortcut icon" href="../images/sunflower-sky-crop.ico">

	<!-- <link rel="apple-touch-icon" href="images/apple-touch-icon.png"> -->
	<!-- <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png"> -->
	<!-- <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"> -->





	<style type="text/css">
	  div.toprest
	  {
	  width:320px;
	  padding:0px;
	  margin:1px;
	  }
	  p { color:"white";  background-color:"black";}
	  a {link:text-decoration:none;}
	</style>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29277261-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</head>
<body>


  <div class='container'>


    <div class="row sixteen columns">

      <header>
	<div class="row sixteen columns" style="margin-left:0px; padding-left:5px; padding-top:5px">
	  <!-- <a href="../" ><a image="../images/" type="image/svg+xml" pluginspage="http://www.adobe.com/svg/viewer/install/" /></a>	     -->
	  <a href="../"> <img src="../images/square_logo_small.png" /></a>
	<!-- <div class="row six columns" style="margin-top:0px"> -->
      	<ul style="vertical-align:middle">
      	  <li class='s2' ><a style="color:#222" href='about.html'>About</a> </li>
      	  <li class='s2'><a style="color:#222" href='donate.html'>Support</a></li>
      	</ul>
	</div>
	<!-- </div> -->
      </header>

 <div class='row twelve columns'>
   <div class='eight columns toprest alpha'>
     <h3>Our mission</h3>
     <p>We are a US-based, not-for-profit organization. Our mission is
       to inspire people and communities to take action on climate
       change. We achieve this by connecting people with energy-saving
       opportunities that both protect future generations from climate
       change and save money. </p>
    </div>

 </div>
 
<hr>
 <footer><ul><li>Questions or comments? Contact us at <a href='mailto:info@nextclimate.org'>info@nextclimate.org</a>.</li>
 <li><a href="privacy.html">Privacy Policy</a></li>
 <li><a href="termsofservice.html">Terms of Service</a></li></ul></footer>

  </div>


</body>
</html>

<!-- <html> -->
<!--   <body> -->
<!--     {% for greeting in greetings %} -->
<!--       {% if greeting.author %} -->
<!--         <b>{{ greeting.author.nickname }}</b> wrote: -->
<!--       {% else %} -->
<!--         An anonymous person wrote: -->
<!--       {% endif %} -->
<!--       <blockquote>{{ greeting.content|escape }}</blockquote> -->
<!--     {% endfor %} -->

<!--     <form action="/sign" method="post"> -->
<!--       <div><textarea name="content" rows="3" cols="60"></textarea></div> -->
<!--       <div><input type="submit" value="Sign Guestbook"></div> -->
<!--     </form> -->

<!--     <a href="{{ url }}">{{ url_linktext }}</a> -->

<!--   </body> -->
<!-- </html> -->
