<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Our shared climate future</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- javascript
  ================================================== -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/raphael.js"></script>
    <script type="text/javascript" src="javascripts/jquery.enumerable.js"></script>
    <script type="text/javascript" src="javascripts/jquery.tufte-graph.js"></script>

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="../stylesheets/base.css">
	<link rel="stylesheet" href="../stylesheets/skeleton.css">
	<link rel="stylesheet" href="../stylesheets/layout.css">

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="../images/sunflower-sky-crop.ico">

	<style type="text/css">
	  div.ex
	  {
	  width:320px;
	  padding:0px;
	  margin:10px;
	  }
	</style>

	<style type="text/css">
	  div.topfirst
	  {
	  width:320px;
	  padding:0px;
	  margin:1px;
	  background-color:"black";
	  background-image:url('');
	  }
	</style>
	<style type="text/css">
	  div.toprest
	  {
	  width:320px;
	  padding:0px;
	  margin:1px;
	  }
	  p { color:"white";  background-color:"black";}
	  a {link:text-decoration:none;}
	</style>





<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29277261-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
    <div id="fb-root"></div>
    <script>
      // Load the SDK Asynchronously
      (function(d){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all.js";
         ref.parentNode.insertBefore(js, ref);
       }(document));

      // Init the SDK upon load
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '179716018816396', // App ID
          channelUrl : '//'+window.location.hostname+'/fbjs', // Path to your Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true  // parse XFBML
        });

        <!-- // listen for and handle auth.statusChange events -->
        <!-- FB.Event.subscribe('auth.statusChange', function(response) { -->
        <!--   if (response.authResponse) { -->
        <!--     // user has auth'd your app and is logged into Facebook -->
        <!--     FB.api('/me', function(me){ -->
        <!--       if (me.name) { -->
        <!--         document.getElementById('auth-displayname').innerHTML = me.name; -->
        <!--       } -->
        <!--     }) -->
            window.top.location='http://www.nextclimate.org/queryZip';
            document.getElementById('auth-loggedout').style.display = 'none';
            document.getElementById('auth-loggedin').style.display = 'block';
          } else {
            // user has not auth'd your app, or is not logged into Facebook
            document.getElementById('auth-loggedout').style.display = 'block';
            document.getElementById('auth-loggedin').style.display = 'none';
          }
        });

        // respond to clicks on the login and logout links
        document.getElementById('auth-loginlink').addEventListener('click', function(){
          FB.login();
        });
        document.getElementById('auth-logoutlink').addEventListener('click', function(){
          FB.logout();
        }); 
      } 
    </script>


  <div class="container">

    <div class="row sixteen columns">
      <header>
	<div class="row sixteen columns" style="margin-left:0px; padding-left:5px; padding-top:5px">
	  <!-- <a href="../" ><a image="../images/" type="image/svg+xml" pluginspage="http://www.adobe.com/svg/viewer/install/" /></a>	     -->
	  <a href="../"> <img src="../images/square_logo_small.png" /></a>
	<!-- <div class="row six columns" style="margin-top:0px"> -->
      	<ul style="vertical-align:middle">
      	  <li class='s2' ><a style="color:#222" href='about.html'>About</a> </li>
      	  <li class='s2'><a style="color:#222" href='donate.html'>Support</a></li>
      	</ul>
	</div>
	<!-- </div> -->
      </header>

      </div>


  <div class="row">
    <div class="eight columns">

      <h3>Become a supporter</h3> 

      <p>As a non-profit, we depend on passionate citizens like
      yourself to keep this service available. Your support of just 10
      dollars a month pays for 100,000 people to view this site and
      learn about climate change. Can you become a NextClimate
      Supporter?</p>

      <p>We work hard to ensure that 100% of your support goes toward
      inspiring people and communities to take action on climate
      change.</p>

      </div>
    </div>

<hr>
 <footer><ul><li>Questions or comments? Contact us at <a href='mailto:info@nextclimate.org'>info@nextclimate.org</a>.</li></ul></footer>

  </div>
      
  </body>
</html>

<!-- <html> -->
<!--   <body> -->
<!--     {% for greeting in greetings %} -->
<!--       {% if greeting.author %} -->
<!--         <b>{{ greeting.author.nickname }}</b> wrote: -->
<!--       {% else %} -->
<!--         An anonymous person wrote: -->
<!--       {% endif %} -->
<!--       <blockquote>{{ greeting.content|escape }}</blockquote> -->
<!--     {% endfor %} -->

<!--     <form action="/sign" method="post"> -->
<!--       <div><textarea name="content" rows="3" cols="60"></textarea></div> -->
<!--       <div><input type="submit" value="Sign Guestbook"></div> -->
<!--     </form> -->

<!--     <a href="{{ url }}">{{ url_linktext }}</a> -->

<!--   </body> -->
<!-- </html> -->
