<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Our shared climate future</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- javascript
  ================================================== -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/raphael.js"></script>
    <script type="text/javascript" src="javascripts/jquery.enumerable.js"></script>


	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="stylesheets/layout.css">

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

	<style type="text/css">
	  div.ex
	  {
	  width:320px;
	  padding:0px;
	  margin:10px;
	  }
	</style>

	<style type="text/css">
	  div.topfirst
	  {
	  width:320px;
	  padding:0px;
	  margin:1px;
	  background-color:"black";
	  background-image:url('');
	  }
	</style>
	<style type="text/css">
	  div.toprest
	  {
	  width:320px;
	  padding:0px;
	  margin:1px;
	  }
	  p { color:"white";  background-color:"black";}
	  a {link:text-decoration:none;}
	</style>





<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29277261-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>

  <div class="container">

    <div class="row sixteen columns">
      <header>
	<div class="six columns">
	  <a href="../" ><img class="logo scale-with-grid" src="../images/nextclimate_logo_transparent.png" /></a>
	</div>
	<div class="eight columns">
      	<ul>
      	  <li class='s2'><a href='static/about.html'>About</a> </li>
      	  <li class='s2'><a href='static/science.html'>Science</a> </li>
      	  <li class='s2'><a href='static/share.html'>Share</a> </li>
      	  <li class='s2'><a href='static/donate.html'>Support</a></li>
      	</ul>
	</div>
      </header>
      </div>
      
    <div class="sixteen columns">
<!--       <h1 class="remove-bottom" style="margin-top: 40px">Our shared climate future</h1> -->
      <div class="fourteen columns">
	<h2>Act Now!</h2>
       <h4>Take advantage of these energy-saving
	 opportunities. You can both save money and help protect
	 future generations from dangerous climate change. Here are
	 some suggestions for your area.</h4>
       <br> 
      </div>


      <br>
      <div class="row">
	<div class="five columns">
	  <h3>Conserve.</h3>
	  <h4>Energy-saving light bulbs</h4>
	  <p>Available <a href="http://www.duke-energy.com/freecfls/?utm_source=webpromo&utm_medium=web&utm_campaign=IVRWEB">free</a> from your power company</p>
	  <h4>Smart heating and cooling</h4>
	  <p>On when you need it, off when you don't.</p>
	  <h4>Get a Personalized Energy Report</h4>
	  <p>Put your <a href="http://www.duke-energy.com/personalized-energy-report/"> power company</a> to work for you.
	</div>

	<div class="five columns">
	  <h3>Generate.</h3>
	  <h4>Solar water heater</h4>
	  <p>Enjoy <a href="http://www.solarconsultants.com/">hot showers</a>; save money!</p>
	  <h4>Roof-top solar panels</h4>
	  <p><a href="http://www.sunrunhome.com">Make</a> your own electricity.</p>
	  <h4>Radient heating</h4>
	  <p>Let the sun warm your home.</p>
	</div>

	<div class="five columns">
	  <h3>Save.</h3>	  
	  <h4>Fuel efficient commute</h4>
	  <p>Gas isn't getting <a href="http://southeast.buyatoyota.com/prius">cheaper</a>.</p>
	  <h4>Public transit</h4>
	  <p>Let someone else do the driving.</p>
	  <h4>Live in a walkable community</h4>
	  <p><a href="http://www.walkscore.com"> Walkscore</a> can help.</p>
	</div>


    </div>

    <br>

    <form action="/" method="get">
      Enter another zip code: <input type="text" name="zipcode_value" rows="1" cols="7">
<!--       <div><input type="submit" value="Tell me about climate change"></div> -->
    <button type="submit">Tell me about climate change</button>
    </form>

    </div>
  </div>
  </body>
</html>

<!-- <html> -->
<!--   <body> -->
<!--     {% for greeting in greetings %} -->
<!--       {% if greeting.author %} -->
<!--         <b>{{ greeting.author.nickname }}</b> wrote: -->
<!--       {% else %} -->
<!--         An anonymous person wrote: -->
<!--       {% endif %} -->
<!--       <blockquote>{{ greeting.content|escape }}</blockquote> -->
<!--     {% endfor %} -->

<!--     <form action="/sign" method="post"> -->
<!--       <div><textarea name="content" rows="3" cols="60"></textarea></div> -->
<!--       <div><input type="submit" value="Sign Guestbook"></div> -->
<!--     </form> -->

<!--     <a href="{{ url }}">{{ url_linktext }}</a> -->

<!--   </body> -->
<!-- </html> -->
