<!DOCTYPE html xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/Organization">
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Our shared climate future</title>
	<meta property="og:image" content="http://www.nextclimate.org/images/circle_logo_transparent_128.png"/>
	<meta property="fb:app_id" content="179716018816396"/>

	<meta name="description" content="">
	<meta name="author" content="">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- javascript
  ================================================== -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/raphael.js"></script>
    <script type="text/javascript" src="javascripts/jquery.enumerable.js"></script>
    <script type="text/javascript" src="javascripts/jquery.tufte-graph.js"></script>

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="stylesheets/layout.css">
	<link rel="stylesheet" href="stylesheets/tufte-graph.css" type="text/css" media="screen" charset="utf-8" />
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

	<style type="text/css">
	  div.ex
	  {
	  width:320px;
	  padding:0px;
	  margin:10px;
	  }
	</style>

	<style type="text/css">
	  div.topfirst
	  {
	  width:320px;
	  padding:0px;
	  margin:1px;
	  background-color:"black";
	  background-image:url('');
	  }
	</style>
	<style type="text/css">
	  div.toprest
	  {
	  width:320px;
	  padding:0px;
	  margin:1px;
	  }
	  p { color:"white";  background-color:"black";}
	  a {link:text-decoration:none;}
	</style>


    <style>
      body {  }
      #container {
        margin: 20 auto;
        width: 730px;
      }
      .download {
        float: right;
        font-size: 1.5em;
      }
      .footer {
        width: 100%;
        text-align: center;
        color: #999999;
        font-size: 0.8em;
        margin-top: 30px;
      }

      
      .intro { font-size: 1.4em; }
      .differences { clear: both; }

      span.doc { color: green; font-weight: bold; }
      a { color: black; }
      a:visited { color: gray; }
      .example { float: left; }
      h2 { clear: both; }

      .temperature .graph-header { width: 320px; }

      li { margin-bottom: 3px; }
    </style>

    <script type="text/javascript">
      $(document).ready(function () {
        jQuery('#temperature-graph').tufteBar({
          data: [
            [{{maxTobs_1990}}, {label: 'Our parent\'s generation '}],
            [{{maxTa1_2050}}, {label: 'Our children\'s generation'}],
            [{{maxTa1_2090}}, {label: 'Our grandchildren\'s generation'}],
<!--             [16, {label: 'Our parents generation '}], -->
<!--             [90, {label: 'Our childrens generation'}], -->
<!--             [120, {label: 'Our grand-childrens\ngeneration'}], -->

          ],
          barWidth: 0.8,
          barLabel:  function(index) { return this[0] + ' days' },
          axisLabel: function(index) { return this[1].label },
          color:     function(index) { return ['#FFE600', '#FF9900', '#F02311'][index] }
        });
   });
   </script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29277261-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>

    <div id="fb-root"></div>
    <script>
      // Load the SDK Asynchronously
      (function(d){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all.js";
         ref.parentNode.insertBefore(js, ref);
       }(document));

      // Init the SDK upon load
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '179716018816396', // App ID
          channelUrl : '//'+window.location.hostname+'/fbjs', // Path to your Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true  // parse XFBML
        });
      
      FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
         // the user is logged in and has authenticated your
         // app, and response.authResponse supplies
         // the user's ID, a valid access token, a signed
         // request, and the time the access token 
         // and signed request each expire
          var uid = response.authResponse.userID;
          var accessToken = response.authResponse.accessToken;
          FB.api('/me', function(me){
            if (me.name) {
              document.getElementById('auth-displayname').innerHTML = me.name;
            }
          })
        } else {
         // the user isn't logged in to Facebook.
          window.top.location='http://www.nextclimate.org/';          
        }
      }, true);




        // listen for and handle auth.statusChange events
        FB.Event.subscribe('auth.statusChange', function(response) {
          if (response.authResponse) {
            // user has auth'd your app and is logged into Facebook
            FB.api('/me', function(me){
              if (me.name) {
                document.getElementById('auth-displayname').innerHTML = me.name;
              }
            })
            document.getElementById('auth-loggedout').style.display = 'none';
            document.getElementById('auth-loggedin').style.display = 'block';
          } else {
            // user has not auth'd your app, or is not logged into Facebook
            window.top.location='http://www.nextclimate.org/';
            document.getElementById('auth-loggedout').style.display = 'block';
            document.getElementById('auth-loggedin').style.display = 'none';
          }
        });

        // respond to clicks on the login and logout links
        document.getElementById('auth-loginlink').addEventListener('click', function(){
          FB.login();
        });
        document.getElementById('auth-logoutlink').addEventListener('click', function(){
          FB.logout();
        }); 

      }
      function fbSharePage() {
        <!-- var body = document.getElementById('fbMessage').value; -->

	FB.ui({
          method: 'feed',
          name: 'Learn more about what climate change means for you.',
	  description: '{{place}}.',
          link: 'http://www.nextclimate.org',
	  picture: 'http://www.nextclimate.org/images/circle_logo_transparent_128.png'
         });
      }
     
      var popupWindow = null;
      function centeredPopup(){
	url='https://twitter.com/share?url=http%3A%2F%2Fwww.nextclimate.org&text={{place}}. Learn more at ';
	w = '500';
	h = '300';
	scroll='yes';
	winName='myWindow';
	LeftPosition = (screen.width) ? (screen.width-w)/2 : 0;
	TopPosition = (screen.height) ? (screen.height-h)/2 : 0;
	settings =
	'height='+h+',width='+w+',top='+TopPosition+',left='+LeftPosition+',scrollbars='+scroll+',resizable'
	popupWindow = window.open(url,winName,settings)
      } 
    </script>



  <div class="container">

    <div class="row sixteen columns">
      <header>
	<div class="six columns">
	  <a href="../" ><img class="logo scale-with-grid" src="../images/nextclimate_logo_transparent.png" /></a>
	</div>
	<div class="eight columns">
      	<ul>
      	  <li class='s2'><a href='static/about.html'>About</a> </li>
      	  <!-- <li class='s2'><a href='static/science.html'>Science</a> </li> -->
	  <!-- <li class='s2'><a href="/actnow?zipcode_value={{zipcode}}">Act Now</a></li> -->
      	  <!-- <li class='s2'><a href='static/share.html'>Share</a> </li> -->
      	  <li class='s2'><a href='static/donate.html'>Support</a></li>
      	  <li class='s3'><a href='#' onclick='FB.logout()'>Logout (<span id="auth-displayname"></span>)</a></li>
      	</ul>
	</div>
      </header>
    </div>

    <div class="sixteen columns">
<!--       <h1 class="remove-bottom" style="margin-top: 40px">Our shared climate future</h1> -->
    <div class="twelve columns">
      <h3>The climate is changing at an unprecedented pace. What does this mean for where you live?</h3>
      <br> 
      </div>
    {% for i in qTrue %}
      <br>
      <div class="row clearfix">
      <div class="eight columns temperature">
<!--     <div class='temperature'> -->
      <div class='graph-header'>
        <h5>The number of days in a year that are hotter than 90 degrees in {{city}}, {{state}}</h5>
      </div>
      <div id='temperature-graph' class='graph' style='width: 320px; height: 200px;'></div>
      <br>
      </div>

    <div class="six columns ex">
    
    <h5> {{place}}.  By reducing our dependence on fossil fuels,
      future warming in your area can be limited to {{maxTb2_2090}}
      days per year above 90 degrees. If
      we <a href="/actnow?zipcode_value={{zipcode}}">act now</a>, we can protect
      our children and grandchildren from dangerous climate
      change. </h5><p></p>
    <form action="/actnow" method="get">
    <button type="submit" class="full-width button" name="zipcode_value" value={{zipcode}}>
      <h4>Act Now!</h4></button>
    </form>

    <!-- twitter and facebook buttons -->
    <div class="one columns">
    <div id="custom-fb-button">
      <button onclick='fbSharePage()'>
	<img style="padding-top:2px" src="../images/facebook-icon.ico">
	<span style="padding-left:5px; vertical-align:top; padding-top:0px">Share</span>
      </button>
    </div>	      
    </div>

    <div class="one columns">
    <div id="custom-tweet-button">
<!-- href="https://twitter.com/share?url=https%3A%2F%2Fwww.nextclimate.org" -->
      <button onclick='centeredPopup()'>
	<img style="padding-top:2px" src="http://a4.twimg.com/images/favicon.ico"><span style="padding-left:5px; vertical-align:top; padding-top:0px">Tweet</span></button>
    </div>
    </div>
    </div>

    </div>
    </div>
    {% endfor %}
    <br>

    <div class="six columns">    
    <form action="/queryZip" method="get">
      Enter a zip code: <input type="text" name="zipcode_value" rows="1" cols="7">
<!--       <div><input type="submit" value="Tell me about climate change"></div> -->
    <button type="submit">Tell me about climate change</button>
    </form>
    </div>
    </div>
<hr>
 <footer><ul><li>Questions or comments? Contact us at <a href='mailto:info@nextclimate.org'>info@nextclimate.org</a>.</li></ul></footer>

  </div>
  </body>
</html>

<!-- <html> -->
<!--   <body> -->
<!--     {% for greeting in greetings %} -->
<!--       {% if greeting.author %} -->
<!--         <b>{{ greeting.author.nickname }}</b> wrote: -->
<!--       {% else %} -->
<!--         An anonymous person wrote: -->
<!--       {% endif %} -->
<!--       <blockquote>{{ greeting.content|escape }}</blockquote> -->
<!--     {% endfor %} -->

<!--     <form action="/sign" method="post"> -->
<!--       <div><textarea name="content" rows="3" cols="60"></textarea></div> -->
<!--       <div><input type="submit" value="Sign Guestbook"></div> -->
<!--     </form> -->

<!--     <a href="{{ url }}">{{ url_linktext }}</a> -->

<!--   </body> -->
<!-- </html> -->
